.screen[data-screen="character"]{
  background-image: url("../../ui/global/ui/character-placeholder.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="character"]{ pointer-events:none; }
.screen[data-screen="character"] .hitbox-layer{ pointer-events:auto; }
