/* styles/screens/launcher_oregon_trail.css */

.screen[data-screen="launcher_oregon_trail"]{
  background-image: url("../../ui/global/ui/launcher-panel-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="launcher_oregon_trail"]{ pointer-events:none; }
.screen[data-screen="launcher_oregon_trail"] .hitbox-layer{ pointer-events:auto; }
