/* styles/screens/launcher_world_of_lorecraft.css */

.screen[data-screen="launcher_world_of_lorecraft"]{
  background-image: url("../../ui/global/ui/launcher-panel-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="launcher_world_of_lorecraft"]{ pointer-events:none; }
.screen[data-screen="launcher_world_of_lorecraft"] .hitbox-layer{ pointer-events:auto; }
