/* styles/screens/launcher_tale_of_icarus.css */

.screen[data-screen="launcher_tale_of_icarus"]{
  background-image: url("../../ui/global/ui/launcher-panel-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="launcher_tale_of_icarus"]{ pointer-events:none; }
.screen[data-screen="launcher_tale_of_icarus"] .hitbox-layer{ pointer-events:auto; }
