/* styles/screens/launcher_king_solomon.css */

.screen[data-screen="launcher_king_solomon"]{
  background-image: url("../../ui/global/ui/launcher-panel-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="launcher_king_solomon"]{ pointer-events:none; }
.screen[data-screen="launcher_king_solomon"] .hitbox-layer{ pointer-events:auto; }
