/* styles/screens/library1.css */
.screen[data-screen="library1"].is-active{
  background-image: url("../../ui/global/ui/library-pre-render-page2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}
.screen[data-screen="library1"]{
  --vc-lib-label-left: 14%;
  --vc-lib-label-width: 72%;
  --vc-lib-label-y-offset: 0%;
}
.screen[data-screen="library1"]{ pointer-events:none; }
.screen[data-screen="library1"] .hitbox-layer{ pointer-events:auto; }
