/* styles/screens/library.css */
.screen[data-screen="library"].is-active{
  background-image: url("../../ui/global/ui/library-pre-render-page1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}
.screen[data-screen="library"]{ pointer-events:none; }
.screen[data-screen="library"] .hitbox-layer{ pointer-events:auto; }
