/* styles/screens/menu.css */
.screen[data-screen="menu"].is-active{
  background-image: url("../../ui/global/ui/main-menu-no-save.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}
.screen[data-screen="menu"]{ pointer-events:none; }
.screen[data-screen="menu"] .hitbox-layer{ pointer-events:auto; }
