/* styles/screens/settings.css */
.screen[data-screen="settings"].is-active{
  background-image: url("../../ui/global/ui/settings.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}
.screen[data-screen="settings"]{ pointer-events:none; }
.screen[data-screen="settings"] .hitbox-layer{ pointer-events:auto; }
