/* styles/screens/story_world_of_lorecraft.css */

.screen[data-screen="story_world_of_lorecraft"]{
  background-image: url("../../content/founders/packs/story-panels/world_of_lorecraft-narrative-panel.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="story_world_of_lorecraft"]{ pointer-events:none; }
.screen[data-screen="story_world_of_lorecraft"] .hitbox-layer{ pointer-events:auto; }
