/* styles/screens/story_tale_of_icarus.css */

.screen[data-screen="story_tale_of_icarus"]{
  background-image: url("../../content/founders/packs/story-panels/taleoficarus-narrative-panel.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#000;
}

.screen[data-screen="story_tale_of_icarus"]{ pointer-events:none; }
.screen[data-screen="story_tale_of_icarus"] .hitbox-layer{ pointer-events:auto; }
