/* styles/screens/tos.css */

.screen[data-screen="tos"] {
  background-image: url("../../ui/global/ui/tos-accept.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
